{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!
{% endblock %}
{% block body %}
	<div class="container" style="margin-top:10px;">
		<div class="row">
			<div class="col-4" style="background-color: #b1b1e7;padding-top:20px;border:2px solid black;
										    border-radius: 5px">
				{{include('annonces/partials/menu.html.twig')}}
			</div>
			<div class="col-8" style="background-color:#ebebf9;padding-top:20px;border:2px solid black;
												    border-radius: 5px">
				<div class="row">
					{% for annonce in annonces %}
						<div class="col-sm-3" style="display-inline-block">
							<div class="card border-secondary mb-3" style="max-width: 20rem;">
								{%if annonce.image is empty%}
									<div class="card-header"></div>
									{% else%}
									<div class="card-header">
										<img src="{{asset(annonce.image.url) }}" alt="{{ annonce.image.alt }}" style="width:100%"/></div>
									{%endif%}

									<div class="card-header">{{annonce.titre}}</div>
									<div class="card-body">
										<p class="card-text">{{ annonce.description }}</p>
										<h5 class="card-title">{{ annonce.lieu }}</h5>
										{#<h5 class="card-title">{{ annonce.date|date('d-m-Y') }}</h5>#}
										<a href="{{ url('annonce.details',{'id':annonce.id})}}">Details de l'annonce</a>
										{% if annonces|length == 1 %}
											<a href="{{path('annonce.edit', {'id':annonce.id})}}">Modifier</a>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					{% if annonce is defined %}

						{%for annonce in annonce %}
							<h4 style="width:100%;text-align:center;background-color:#33CAFF">{{annonce.titre}}</h4>
							<p>
								<b>Description du poste:
								</b>
								{{annonce.description}}</p>
							<p>
								<b>Date de publication:</b>
								{{annonce.publishAt}}</p>
							<p>
								<b>Lieu:</b>
								{{annonce.lieu}}</p>
							<p>
								<b>Rémunération:</b>
								{{annonce.remuneration}}</p>
						{% endfor %}

					{% endif %}
				</div>
			</div>
		</div>


	{% endblock %}
